@import "tailwindcss";

@theme {
  --color-primary: #22d3ee;
  --color-primary-hover: #06b6d4;
  --color-bg-dark: #0a1114;
  --color-bg-card: #111a1f;
  
  --font-display: "Space Grotesk", "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(34, 211, 238, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(34, 211, 238, 0.05) 1px, transparent 1px);
  }
}

body {
  background-color: var(--color-bg-dark);
  color: #f8fafc;
}